@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');


.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
  }

button {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
  
  body {
    -webkit-tap-highlight-color: transparent;
  }

  /* Animation for reveal image and text */

.reveal-img {
    animation: scale 0.5s ease forwards;
}

@keyframes scale {
    from {
        transform: scale(0.3);
    }
    to {
        transform: scale(1);
    }
}